<div class="row my-3">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a [routerLink]="['/observable/fromEvent']" routerLinkActive="router-link-active" >From Event</a>
            </li>
            <li>
                <a [routerLink]="['/observable/interval']" routerLinkActive="router-link-active" >Interval</a>
            </li>
            <li>
                <a [routerLink]="['/observable/of-from']" routerLinkActive="router-link-active" >of/from</a>
            </li>
            <li>
                <a [routerLink]="['/observable/to-array']" routerLinkActive="router-link-active" >To Array</a>
            </li>
            <li>
                <a [routerLink]="['/observable/custom']" routerLinkActive="router-link-active" >Custom</a>
            </li>
            <li>
                <a [routerLink]="['/observable/map']" routerLinkActive="router-link-active" >Map</a>
            </li>
            <li>
                <a [routerLink]="['/observable/pluck']" routerLinkActive="router-link-active" >Pluck</a>
            </li>
            <li>
                <a [routerLink]="['/observable/filter']" routerLinkActive="router-link-active" >Filter</a>
            </li>
        </ul>
    </div>
</div>
