<div class="my-3">
    <h2>Of/From</h2>
    <br>
    <strong>Ex - 01 (OF)</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="py-2 px-3 border rounded bg-light" >
                <strong>Data : </strong> of('Gaurav' , 'Singh' , 'Masand')
            </p>
            <hr>
            <strong>Result</strong>
            <ul id="elContainer">
            </ul>
        </div>
        <div class="col-md-6">
            <p class="py-2 px-3 border rounded bg-light" >
                <strong>Data : </strong> of(&#123;a:'Gaurav',b:'Singh',c:'Masand' &#125;)
            </p>
            <hr>
            <strong>Result</strong>
            <ul>
                <li><strong>a :</strong>{{objMessage.a}}</li>
                <li><strong>b :</strong>{{objMessage.b}}</li>
                <li><strong>c :</strong>{{objMessage.c}}</li>
            </ul>
        </div>
    </div>
    <br>


    <strong>Ex - 02 (FROM)</strong>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <p class="py-2 px-3 border rounded bg-light" >
                <strong>Array : </strong> from(['Ronaldo' , 'Messi' , 'Bale'])
            </p>
            <hr>
            <strong>Result</strong>
            <ul id="elContainer3">
            </ul>
        </div>
        <div class="col-md-4">
            <p class="py-2 px-3 border rounded bg-light" >
                <strong>Promise to Observable : </strong>
            </p>
            <hr>
            <strong>Result</strong>
            <ul id="elContainer4">
            </ul>
        </div>
        <div class="col-md-4">
            <p class="py-2 px-3 border rounded bg-light" >
                <strong>String to Observable : </strong>
            </p>
            <hr>
            <strong>Result</strong>
            <ul id="elContainer5">
            </ul>
        </div>
    </div>
</div>
        
